*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: #F8F9FA;
    position: sticky;
    top: 0;
    z-index: 1000;


}
#f1sec{
    background-color:  #FFF9F2;  
}
#h1f1{
    font-size: 2.2rem;
    padding-top: 70px;  
}
#s1p1{
    margin: 0 10px;
}
#s1b1, #s7b1{
    background-color: #6D1830;
    margin-top: 40px;
    margin-bottom: 20px;
    
}
#s1b1 a, #s7b1 a{
    color: #fff;
    text-decoration-line: none;
}
#s3p1{
    font-size: 1.5rem;
}
 #s3p2, #s4h1{
    font-size: 2rem;
 }
#s3ul1, #s3p2, #s3ul2, #s3ul3, #s4p1{
    font-size: 1.2rem;
    list-style: "✔mar";
    margin-left: 20px;
}
#s3img{
    margin-bottom: 100px;
    margin-left: 20px;
}
#s3img1{
    width: 200px;
    z-index: 2  ;
}
#s3img2{
    position: absolute;
    top: 15px;
    left: 13px;
    right: 230px;
    z-index: -1;
    border-radius: 25px;
}
#s3img3{
    width: 200px;
    height: 330px;
    position: absolute;
    left: 170px;
    top: 40px;
    z-index: -2;
}
#s3img4{
    position: absolute;
    left: 210px;
    top: 180px;
    z-index: 2;
}
#s3mg1-1{
    width: 170px;
    height: 300px;
    position: absolute;
    bottom: 60px;
    left: 20px;
    z-index: -2;
    
}
#s3img1-2{
    position: absolute;
    bottom: 10px;
    left: 170px;
}
#s3img1-3{
    position: absolute;
    bottom: 28px;
    left: 180px;
    width: 177px;
    height: 366px;
    border-radius: 25px;
    z-index: -1;
}
#s3img3_2{
    position: absolute;
    top: 18px;
    left: 16px;
    border-radius: 27px;
    z-index: -1;
}
#s3img3_3{
    width: 200px;
    height: 350px;
    position: absolute;
    left: 200px;
    top: 70px;
    z-index: -2;
}
#s3img3_4{
    position: absolute;
    left: 250px;
    top: 230px;
    width: 130px;
}
#s4img1{
    width: 200px;
    z-index: 4;
}
#s4img2{
    width: 175px;
    height: 377px;
    position: absolute;
    left: 11px;
    top: 11px;
    border-radius: 25px;
    z-index: 1;
}
#s4p1{
    margin: 0 80px;
    padding-bottom: 15px;
}
 #f3sec button{
    background: #fff;
}
#f3sec button a, #sec6 button a{
    text-decoration-line: none;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
} 

.icon1{
    color:#F59E0B ;
    font-size: 1.2rem;
}
#f3sec{
    background-color: #14394C;
    margin-top: 100px;
    color: #fff;
}
#sec5{
    background-color:#F6F0EB;
    margin-top: -100px;
    padding-top: 100px;
    z-index: 100;
    position: relative;
}
#s3con2{
    background-image: url(image/Rectangle\ 59.png);
}
#sec6{
    background-color: #14394C;
    color: #fff;
    padding-bottom: 50px;
}
#sec6 button{
    padding: 10px 20px;
    border-radius: 5px;
}
#s7img1{
   display: block;
   margin: auto;
   border-radius: 12px; 
}
#s7p1{
    font-size: 1.5rem;
    margin: 20px 80px 1  0px 70px;
    color: #4A505C;
}
.s7con1{
    border: 1px solid #4A505C;
    border-radius: 6px;
    margin: 50px 20px 0 20px;
}
#sec8{
    background-color: #FFF9F2;

}
#sec9{
    background-color: #6D1830;
}

#p2s2{
    /* margin-left: 50px; */
    display: flex;
    gap: 150px;
    justify-content: center;
    align-items: center;
    margin: 20px 150px;
}
#p2s3{
    background-color: #14394C;
    height: 300px;
    width: 80%;
    margin: 0 auto;
    position: relative;
    border-radius: 10px;
    padding: 20px 50px;
}
#p2s3img{
    position: absolute;
    top: -90px;
    left: 100px;
}
#p2s3div3{
    color: #ffffff;
    padding: 50px;
    margin-left: 50%;
} 
#p2s4{
margin: 0 20%;
}
#p2s5{
   display: flex; 
   gap: 100px;
   background-color: #14394C;
   color: #fff;
}
#p2s5div2{
    margin: 70px 300px;
} 
/* contant us */

/* #form{
    flex-basis: 70%;
    padding: 50px;
} */
.card{
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}
#section5{
background-color: #14394C;
}
#section6{
    background-color: #6D1830;
}
#blog1section1{
    border: rgba(0, 0, 0, 0.5) solid  1px;
    border-radius: 10px;
    padding: 10px 1% 10px 3%;
    gap: 120px;
}
#blog1section1 img{
    border-radius: 5px;
}
#blog1section1 p{
color: rgba(0, 0, 0, 0.5);
}
#blog1section1 button{
    color: #6D1830;
    background-color: transparent;
    border: none;
    margin-bottom: 10px;
}
.card{
    border: 1px solid black transparent !important;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    width: 22rem;
    padding: 2rem 0;
}
.buttonA{
    color: #6D1830;
    background-color: transparent;
    border: none;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0 3px;
}
#house{
    border-radius: 10px;
}

